*{
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
  margin : 0;
  padding : 0;
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* ||||||||||||||||||||EFFET VISUEL|||||||||||||||||||| */
.zoom{
	transform: scale(1);
	transition: 1s ease;
}

.zoom:hover{
	transform: scale(1.02);
  transition: 1s ease;
}

.big_zoom{
	transform: scale(1);
	transition: .3s ease;
}

.big_zoom:hover{
	transform: scale(1.2);
  transition: .3s ease;
}
/* --------------------EFFET VISUEL-------------------- */
/* ||||||||||||||||||||MISE EN PAGE|||||||||||||||||||| */
.d_flex{
  Display: flex;
}

.d_flex_row{
  flex-direction: row;
}

.d_flex_col{
  flex-direction: column;
}

.d_flex_btw{
  justify-content: space-between;
}

.d_flex_center{
  justify-content: center;
}

.d_flex_end{
  justify-content:flex-end;
}

.d_flex_items_center{
  align-items: center;
}

.d_ib{
  display: inline-block;
}

.relative_pos{
  position: relative;
}

.absolute_pos{
  position: absolute;
}

.fixed_pos{
  position: fixed;
}

.txt_center, .col_icone span{
  text-align: center;
}

.color_txt_white, footer a, footer a:hover,.row_footer_article a:hover, h4{
  color: white;
}

.no_ul_txt,.main_nav a,header a, footer a,.button_promo a, .row_footer_article a{
  text-decoration: none;
}

.fs_30{
  font-size: 30px;
}

.w_60{
  width: 60%;
}

.w_20{
  width: 20%;
}

.w_100{
  width: 100%;
}

.mg_bot_10{
  margin-bottom: 10px;
}

p, .main_nav ul{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
  margin: 0;
  margin-bottom: 20px;
}

h3{
  margin-bottom: 5px;
  margin-left: 10px;
}

section{
  margin-bottom: 50px;
}
/* --------------------MISE EN PAGE-------------------- */
/* ||||||||||||||||||||MENU_NAVIGATION|||||||||||||||||||| */
.main_nav{
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
}

.main_nav a{
  color : black;
}

.main_nav a:hover{
  color: #477BFF;
  transition: 200ms;
}

.text_menu{
  list-style-type: none;
}

.icone_nav_pos a{
  margin-left: 20px;
}

.menu_toggle{
  display: none;
}
/* --------------------MENU_NAVIGATION-------------------- */
/* ||||||||||||||||||||HEADER|||||||||||||||||||| */
.button_header{
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 15px 50px;
  margin-top: 15px;
}

.button_header:hover{
  background-color: #477BFF;
  transition: 500ms;
}

header{
  background-color: yellow;
  background-image:url('../images/background_image_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 200px 0;
  margin-bottom: 50px;
  margin-top: 79px;
}

header a, .row_footer_article a{
  color: black;
}

header a:hover{
  text-decoration: underline;
  color: white;
  transition: 500ms;
}

header p,h1{
  color: #FFFFFF;
}
/* --------------------HEADER-------------------- */
/* ||||||||||||||||||||SECTION CATEGORIE|||||||||||||||||||| */
.overlay_cat{
  padding: 30px 0;
  bottom: 5px;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0 0 10px 10px;
}

.img_cat_homme_mobile{
  display : none;
}
/* --------------------SECTION CATEGORIE-------------------- */
/* ||||||||||||||||||||SECTION ARTICLE|||||||||||||||||||| */
.img_product{
  border-radius: 25px 25px 0px 0px;
  max-width: 100%;
  width: 100%;
}

article{
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fav_icons_article{
  right : 10px;
  top : 10px;
}

.row_footer_article{
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button_article{
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px 20px;
  background-color: transparent;
}

.row_footer_article a:hover{
  transition: 500ms;
}

.button_article:hover{
  background-color: #477BFF;
  border: 2px solid white;
  transition: 500ms;
}
/* --------------------SECTION ARTICLE-------------------- */
/* ||||||||||||||||||||SECTION PROMO|||||||||||||||||||| */
.promo{
  background-image:url('../images/promo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 100px 0;
}

.big_txt_promo{
  font-weight: bold;
  font-size: 75px;
  -webkit-text-stroke: 3px white;
}

.button_promo{
  border-radius: 10px;
  background-color: #477BFF;
  padding: 30px 100px;
  border: 5px solid white;
  margin-top: 30px;
}

.button_promo:hover{
  border-radius: 10px;
  background-color: #e9ecef;
  padding: 30px 100px;
  border: 5px solid #477BFF;
  margin-top: 30px;
  transition: 300ms;
}

.button_promo a{
  font-weight: bold;
}

.big_txt_promo, .button_promo a:hover, .adv_icone span{
  color: #477BFF;
}
/* --------------------SECTION PROMO-------------------- */
/* ||||||||||||||||||||SECTION ICONE AVENTAGE|||||||||||||||||||| */
.adv_icone span{
  font-size: 30px;
  margin-top: 10px;
}
/* --------------------SECTION ICONE AVENTAGE-------------------- */
/* ||||||||||||||||||||FOOTER|||||||||||||||||||| */
h4{
  border-bottom: 1px solid white;
}

footer{
  background-color: black;
  padding: 50px;
}

.logo_rs_footer img{
  padding-left: 10px;
}

footer a:hover{
  text-decoration: underline;
}

.logo_footer img{
  width: 70%;
}

.nl_input{
  padding: 5px;
  background: transparent;
  border: 1px solid white;
}

.btn_nl{
  background-color: transparent;
  border-style: none;
  right: 0;
  top: 5px;
}
/* --------------------FOOTER-------------------- */
.btn_return_top{
  right: 0;
  bottom: 0;
}
