*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
  margin : 0;
  padding : 0;
  /* background: #C9D6FF;
  background: -webkit-linear-gradient(to bottom, #DADADA, #C9D6FF);
  background: linear-gradient(to bottom, #DADADA, #C9D6FF);  */
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.button_header{
  border-radius: 10px;
  text-align: center;
  background-color: #FFFFFF;
  display: inline-block;
  padding: 15px 50px;
  margin-top: 15px;
}

.inline_text{
  display: inline-block;
  list-style-type: none;
  padding-right: 50px;
}

.inline_text:last-child{
  padding-right: 0px;
}

.inline_text_no_padding{
  display: inline-block;
  list-style-type: none;
}

.right_icone_align{
  display: flex;
  align-items: center;
  align-content: space-between;
}

.right_icone_align a{
  margin-left: 20px;
}

.right_icone_align a:first-child{
  margin-left: 0;
}

.inline_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cat_align{
  display: flex;
  justify-content: space-between;
}

.cat_column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo{
  background-color: yellow;
  background-image:url('../images/promo.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 100px 0;
  background-attachment:fixe;
  margin-bottom: 50px;
}

.promo p{
  color: white;
  text-align: center;
}

.promo .ligne_1{
  font-weight: bold;
  font-size: 75px;
  color: #477BFF;
  -webkit-text-stroke: 3px white;
}

.promo .ligne_2{
  font-size: 30px;
}

.align_article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button_promo{
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: #477BFF;
  display: inline-block;
  padding: 30px 100px;
  border: 5px solid white;
  margin-top: 30px;
  margin-left: 35%;
}

.button_promo a{
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.button_promo a:hover{
  text-decoration: underline;
  color: black;
}

.align_text_promo{
  margin-left: 35%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
  margin: 0;
  margin-bottom: 20px;
}

.align_icone{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col_icone{
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col_icone p{
  color: #477BFF;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

.align_content_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col_footer{
  width: 20%;
}

.align_icone_footer{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.align_icone_footer img{
  padding-left: 10px;
}

footer input.nl_input{
  padding: 5px;
  background: transparent;
  border: 1px solid white;
  color: white;
}
footer h4{
  color: white;
  border-bottom: 1px solid white;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  color: white;
  text-decoration: underline;
}

nav{
  background-color: white;
  margin-bottom: 20px;
}

header{
  background-color: yellow;
  background-image:url('../images/background_image_header.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 200px 0;
  background-attachment:fixe;
  margin-bottom: 50px;
}

header a{
  color: black;
  text-decoration: none;
}

header a:hover{
  text-decoration: underline;
}

header p,h1{
  color: #FFFFFF;
}

main{

}

section{
  margin-bottom: 50px;
}

article{
  background-color: #FFFFFF;
  width: 31.5%;
  height: 640px;
  position: relative;
  border-radius: 25px;
}

article .button_article,img.panier,img.coeur,img.img_article,h3.h3_article,p.p_article{
  position: absolute;
}

article a{
  text-decoration: none;
  color: black;
}

article a:hover{
  text-decoration: underline;
  background-color: black;
  color: white;
}

.button_article{
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px 20px;
  background-color: transparent;
  top: 590px;
  left: 250px;
}

article img.coeur{
  top: 15px;
  left: 330px;
}

article img.panier{
  top: 595px;
  left: 330px;
}

article h3.h3_article{
  top: 570px;
  left: 10px;
}

article p.p_article{
  top: 600px;
  left: 10px;
}

footer{
  background-color: black;
  padding: 50px;
}

nav ul{
  margin: 30px;
  padding: 0;
}

nav a{
  color : black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

p{
  padding: 0;
  margin: 0;
}

nav a:hover{
  text-decoration: underline;
}


.no_padding_no_margin{
  padding: 0;
  margin: 0;
}

.btn_top_page{
  position: absolute;
  scroll-behavior: smooth;
}
